#add-wishlist {
    position: fixed;
    bottom: -4x;
    right: 10px;
}
#add-items {
    position: fixed;
    bottom: -4x;
    right: 10px;
}
.modal-header{
    background: green;
    color: white;
}
.required:after{
    content:"*";
    color: red;
}
#shopParent{
    width: 250px;
}

#shopDesc{
    border-top: 1px solid rgba(0, 0, 0, 0.253);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#shopImageParent{
    height: 200px;
    width: 350px;
}

#shopImage{
    max-width: 70%;
    max-height: 100%;
}
#priceSection{
    text-align: center;
    margin: 10% auto;
    display: flex;
    justify-content: space-between;
}
#UpdateDelete{
    text-align: center;
    margin: 10% auto;
    display: flex;
    justify-content: space-between;
}
#productInfo{
    text-align: center;
}
#productInfoModal{
    margin-top: 5%;
    margin-left: 5%;

}
.bodyy {
    animation-name: backgroundColorPalette;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    /* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
}
@keyframes backgroundColorPalette {
    0% {
        background: #02aab0;
    }
    100% {
        background: #00cdac;
    }
}
#pageHeaders{
    background-color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    margin:25px;
}