<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset = "ISO-8859-1" />
        <link href = "css/styles.css" rel = "stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <title>LaundryList Home</title>
    </head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <title>LaundryList Admin</title>
    </head>

    <body>
        <div class="mt-4">
            <h1 class="text-center">Welcome Admin</h1>
        </div>
        <div class="container mt-5">
            <div class="text-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Create New User</button>
            </div>
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Adding New Users</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/users}" th:method="put">
                                <div class="mb-3">
                                    <label class="form-label required">New Username</label>
                                    <input name="username" type="email" class="form-control" placeholder="email" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label required">New Password</label>
                                    <input name="password" type="password" class="form-control" placeholder="password" required>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="d-flex flex-wrap flex-row-reverse justify-content-center">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col"> <span class="text-center"><p>Username</p></span> </th>
                    <th scope="col"> <span class="text-center"><p>Password</p></span> </th>
                    <th scope="col"> <span class="text-center"><p>Update Password</p></span> </th>
                    <th scope="col"> <span class="text-center"><p>Delete</p></span> </th>
                </tr>
                </thead>
                <tbody>
                <tr scope="row" th:if="${listUsers.empty}">
                    <td colspan="2"> No Available Users </td>
                </tr>
                <tr th:each="user : ${listUsers}">
                    <td><span class="text-center"> <p th:text="${user.username}">Username </p></span></td>
                    <td><span class="text-center"> <p th:text="${user.password}">Password </p></span></td>
                    <td><span class="text-center">
                            <form th:action="@{/users(username=${user.username})}" th:method="patch" class="form-inline">
                                <input name="password" type="password" placeholder="New Password">
                                <button type="submit" class="btn btn-primary mb-1 ml-1 mr-1">Submit</button>
                            </form>
                        </span>
                    </td>
                    <td>
                        <span class="text-center">
                            <!-- an delete button link -->
                            <form th:action="@{/users(username=${user.username})}" th:method="delete">
                                <button type="submit" class="btn btn-danger btn-sm py-1" th:data-confirm-delete="|Are you sure you want to delete this user ${user.username}?|" onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                                  Delete
                                </button>
                            </form>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>