<!DOCTYPE html>
<html>
    <head>
        <meta charset = "ISO-8859-1" />
        <link href = "css/styles.css" rel = "stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <title>LaundryList Home</title>
    </head>
    <body class="text-center">
        <h1>Welcome to your LaundryList</h1><br>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        <!--TODO: Add the looping logic once we have dummy lists to grab the data-->

        <div class="container">
            <div class="d-flex justify-content-around" style="margin:25px">
                <div class="col-sm">Hello</div>
                <div class="col-sm">Hello</div>
                <div class="col-sm">Hello</div>
                <div class="col-sm">Hello</div>
                <div class="col-sm">Hello</div>
            </div>
        </div>


        <button type="button" class="btn btn-primary btn-floating" id="add-wishlist">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
            </svg>
        </button>
    </body>
</html>