<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <title>Sign Up for LaundryList</title>
</head>
<body class="text-center">
    <main class="form-signin">
        <h1 style="margin:25px">Welcome to LaundryList.</h1><br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm"></div>
                <div class="form-floating w-25" style="padding-left:1px">
                    <input id="floatingInput" class="form-control" type="email" placeholder="email@example.com">
                    <label for="floatingInput"> Email Address</label>
                </div>
                <div class="col-sm"></div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm"></div>
                <div class="form-floating w-25" style="padding-left:1px">
                    <input id="floatingPassword" class="form-control" type="password" placeholder="password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="col-sm"></div>
            </div>
        </div>
        <br>
        <button class="w-25 btn btn-lg btn-primary">Sign Up</button>
        <p class="mt-5 mb-3 text-muted">Already have an account?</p> <a class="mt-5 mb-3 text-muted" href="/signin">Sign In</a>
    </main>

</body>
</html>